{% extends 'layout.html' %}
{% block content %}
{% include 'navbar.html' %}
<div class="container">
        <!--========= END ELSE IF ===============-->
        <div class="row">
        {% for product in brands.items %}
      <div class="col-md-3 mt-4">
        <div class="card">
            <img src="{{url_for('static', filename='images/' + product.image_1)}}" class="card-img-top" alt="{{product.name}}" height="200" width="200">
            <div class="card-body">
              <h5 class="text-center">{{product.name}}</h5>
              <p class="text-center">Price {{product.price}}</p>
            </div>
            <div class="card-footer">
                <a href="{{url_for('brand',id=product.id)}}" class="float-left btn btn-sm btn-primary">Details</a>
                <form action="{{url_for('AddCart')}}" method="post">
                  <input type="hidden" name="product_id" value="{{product.id}}">
                  <button type="submit" class="btn btn-sm btn-warning float-right">Add to Cart</button>
                  <input type="hidden" name="quantity" value="1" min="1" max="20">

              </form>
            </div>
        </div>
      </div>
        {% endfor %}
      </div>
      <div class="row mt-4">
        <div class="col text-center">
          {% if brands.has_prev %}
            <a href="{{url_for('dispBrand', page=brands.prev_num)}}"class="btn btn-sm btn-outline-info">previus</a>
          {% endif %}
          {% if brands %}
         {% for page_num in brands.iter_pages(left_edge=1, right_edge=2, left_current=1,right_current=2) %}
         {% if page_num %}
           {% if brands.page == page_num %}
           <a href="{{url_for('dispBrand', page=page_num)}}" class="btn btn-sm btn-info">{{page_num}}</a>
           {% else %}
           <a href="{{url_for('dispBrand', page=page_num)}}" class="btn btn-sm btn-outline-info">{{page_num}}</a>
            {% endif %}
          {% else %}
          ...
          {% endif %}
         {% endfor %}
         {% endif %}
         {% if brands.has_next %}
         <a href="{{url_for('rams', page=brands.next_num)}}"class="btn btn-sm btn-outline-info">next</a>
       {% endif %}
        </div>
      </div>
    </div>
</div>
{% endblock content %}